# Plotting Query Results

## Setup

In [6]:
# Import Matplot lib and use the `nbagg` backend
import matplotlib
import matplotlib.pyplot as plt
matplotlib.use('nbagg')

C:\Users\markg\Anaconda3\envs\py36\lib\site-packages\matplotlib\__init__.py:1405: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

In [4]:
import pandas as pd

In [9]:
# Import SQLAlchemy `automap` and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [10]:
# Create an engine for the `emoji.sqlite` database
engine = create_engine('sqlite:///emoji.sqlite')

## Explore Database

In [11]:
# Use the Inspector to explore the database and print the table names
# YOUR CODE HERE

In [12]:
# Use Inspector to print the column names and types
# YOUR CODE HERE

In [13]:
# Use `engine.execute` to select and display the first 10 rows from the emoji table
# YOUR CODE HERE

## Reflect database and Query

In [14]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Emoji = Base.classes.emoji

In [15]:
# Start a session to query the database
session = Session(engine)

Use Matplotlib to create a horizontal bar chart and plot the emoji `score` in descending order. Use `emoji_char` as the y-axis labels. Plot only the top 10 emojis ranked by score

In [20]:
# Query Emojis for `emoji_char`, `emoji_id`, and `score` and save the query into results
query = session.query(Emoji).order_by(Emoji.score.desc()).limit(10)
emoji_df = pd.read_sql(query.statement, engine)
emoji_df

   id emoji_char emoji_id                                 name       score
0   1          üòÇ    1F602               FACE WITH TEARS OF JOY  1814832150
1   2         ‚ù§Ô∏è     2764                    HEAVY BLACK HEART   840619939
2   3          üòç    1F60D  SMILING FACE WITH HEART-SHAPED EYES   680382416
3   4         ‚ô•Ô∏è     2665                     BLACK HEART SUIT   652715459
4   5          üò≠    1F62D                   LOUDLY CRYING FACE   515991922
5   6          üòä    1F60A       SMILING FACE WITH SMILING EYES   484540701
6   7         ‚ôªÔ∏è     267B     BLACK UNIVERSAL RECYCLING SYMBOL   452489849
7   8          üòí    1F612                        UNAMUSED FACE   441690175
8   9          üíï    1F495                           TWO HEARTS   381679908
9  10          üòò    1F618                 FACE THROWING A KISS   377847645

Unpack tuples using list comprehensions

In [ ]:
# Unpack the `emoji_id` and `scores` from results and save into separate lists
# YOUR CODE HERE

## Plot using Matplotlib

In [ ]:
# Create a horizontal bar chart and plot the `emoji_id` on the y-axis and the `score` on the x-axis
# Challenge: Try to plot the scores in descending order on the graph (The largest score is at the top)
# YOUR CODE HERE

## Plot using Pandas Plotting

Load the results into a Pandas DataFrame

In [ ]:
# Load the results into a pandas dataframe. Set the index to the `emoji_id`
# YOUR CODE HERE
df.head(10)

Plot using Pandas

In [ ]:
# Plot the dataframe as a horizontal bar chart using pandas plotting
# YOUR CODE HERE

In [ ]:
# BONUS: Use Pandas `read_sql_query` to load a query statement directly into the DataFrame
# YOUR CODE HERE