In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

# Voice Gender
Gender Recognition by Voice and Speech Analysis

This database was created to identify a voice as male or female, based upon acoustic properties of the voice and speech. The dataset consists of 3,168 recorded voice samples, collected from male and female speakers. The voice samples are pre-processed by acoustic analysis in R using the seewave and tuneR packages, with an analyzed frequency range of 0hz-280hz (human vocal range).

## The Dataset
The following acoustic properties of each voice are measured and included within the CSV:

* meanfreq: mean frequency (in kHz)
* sd: standard deviation of frequency
* median: median frequency (in kHz)
* Q25: first quantile (in kHz)
* Q75: third quantile (in kHz)
* IQR: interquantile range (in kHz)
* skew: skewness (see note in specprop description)
* kurt: kurtosis (see note in specprop description)
* sp.ent: spectral entropy
* sfm: spectral flatness
* mode: mode frequency
* centroid: frequency centroid (see specprop)
* peakf: peak frequency (frequency with highest energy)
* meanfun: average of fundamental frequency measured across acoustic signal
* minfun: minimum fundamental frequency measured across acoustic signal
* maxfun: maximum fundamental frequency measured across acoustic signal
* meandom: average of dominant frequency measured across acoustic signal
* mindom: minimum of dominant frequency measured across acoustic signal
* maxdom: maximum of dominant frequency measured across acoustic signal
* dfrange: range of dominant frequency measured across acoustic signal
* modindx: modulation index. Calculated as the accumulated absolute difference between adjacent measurements of fundamental frequencies divided by the frequency range
* label: male or female

In [2]:
voice = pd.read_csv('Resources/voice.csv')
voice.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [3]:
# Assign X (data) and y (target)

X = voice.drop("label", axis=1)
y = voice["label"]
print(X.shape, y.shape)

(3168, 20) (3168,)

Split our data into training and testing

In [4]:
# Split the data using train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

Create a Logistic Regression Model

In [5]:
# Create a logistic regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

Fit (train) or model using the training data

In [6]:
# Fit the model to the data
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

Validate the model using the test data

In [7]:
# Print the r2 score for the test data
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9078282828282829
Testing Data Score: 0.9179292929292929

Make predictions

In [8]:
# Make predictions using the X_test and y_test data
# Print at least 10 predictions vs their actual labels
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

      Actual Prediction
1677  female       male
2995  female       male
14      male       male
2462  female       male
1072    male       male
1267    male       male
1758  female     female
2809  female     female
1342    male       male
252     male       male
2772  female     female
2656  female     female
482     male       male
2938  female     female
1320    male       male
184     male       male
1202    male       male
392     male       male
2324  female     female
1874  female     female
1076    male       male
1836  female     female
2879  female     female
1489    male       male
2890  female     female
2491  female     female
1353    male       male
160     male       male
2989  female     female
1186    male       male
...      ...        ...
2735  female     female
3046  female     female
1608  female       male
1146    male       male
2758  female     female
2116  female     female
2236  female     female
1053    male       male
3015  female     female
1213    male       male
2946  female     female
1628  female     female
2453  female     female
2859  female     female
2214  female     female
2035  female     female
2954  female       male
1946  female     female
1903  female     female
1013    male       male
2205  female     female
2775  female     female
21      male       male
1850  female     female
2987  female     female
2473  female     female
1161    male       male
800     male       male
1007    male       male
2645  female     female

[792 rows x 2 columns]

In [10]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)

In [11]:
# Transform the training and testing data using the X_scaler and y_scaler models
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Fit the model to the data
classifier.fit(X_train_scaled, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
# Print the r2 score for the test data
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.9730639730639731
Testing Data Score: 0.9772727272727273

In [14]:
# Make predictions using the X_test and y_test data
# Print at least 10 predictions vs their actual labels
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

      Actual Prediction
1677  female     female
2995  female     female
14      male       male
2462  female     female
1072    male       male
1267    male       male
1758  female     female
2809  female     female
1342    male       male
252     male       male
2772  female     female
2656  female     female
482     male       male
2938  female     female
1320    male       male
184     male       male
1202    male       male
392     male       male
2324  female     female
1874  female     female
1076    male       male
1836  female     female
2879  female     female
1489    male       male
2890  female     female
2491  female     female
1353    male       male
160     male       male
2989  female     female
1186    male       male
...      ...        ...
2735  female     female
3046  female     female
1608  female     female
1146    male       male
2758  female     female
2116  female     female
2236  female     female
1053    male       male
3015  female     female
1213    male       male
2946  female     female
1628  female     female
2453  female     female
2859  female     female
2214  female     female
2035  female     female
2954  female     female
1946  female     female
1903  female     female
1013    male       male
2205  female     female
2775  female     female
21      male       male
1850  female     female
2987  female     female
2473  female     female
1161    male       male
800     male       male
1007    male       male
2645  female     female

[792 rows x 2 columns]