In [2]:
# Dependencies
import tweepy
import json
import pandas as pd
from config import twitter_keys
# Assign keys to variables
consumer_key = twitter_keys['consumer_key']
consumer_secret = twitter_keys['consumer_secret']
access_token = twitter_keys['access_token']
access_token_secret = twitter_keys['access_token_secret']

In [3]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [4]:
# Import CSV file into Data Frame
popular_tweeters = pd.read_csv("PopularAcounts.csv", dtype=str)

In [5]:
popular_tweeters.head()

     Screen Name Real Name Tweets Followers Following Favorites Count
0      katyperry       NaN    NaN       NaN       NaN             NaN
1   justinbieber       NaN    NaN       NaN       NaN             NaN
2    BarackObama       NaN    NaN       NaN       NaN             NaN
3  Taylorswift13       NaN    NaN       NaN       NaN             NaN
4        rihanna       NaN    NaN       NaN       NaN             NaN

In [6]:
# Iterate through DataFrame
for index, row in popular_tweeters.iterrows():
    try:
        # Grab the username
        target_user = row["Screen Name"]
        # print(target_user)

        # Use the username with the Twitter API get_user
        user_account = api.get_user(target_user)
        user_real_name = user_account["name"]

        # Get the specific column data
        user_tweets = user_account["statuses_count"]
        user_followers = user_account["followers_count"]
        user_following = user_account["friends_count"]
        user_favorites = user_account["favourites_count"]

        # Replace the row information for each
        popular_tweeters.set_value(index, "Real Name", user_real_name)
        popular_tweeters.set_value(index, "Tweets", user_tweets)
        popular_tweeters.set_value(index, "Followers", user_followers)
        popular_tweeters.set_value(index, "Following", user_following)
        popular_tweeters.set_value(index, "Favorites Count", user_favorites)

    except tweepy.TweepError as e:
        print(e)

[{'code': 50, 'message': 'User not found.'}]

In [7]:
# Export the new CSV
popular_tweeters.to_csv("PopularAcounts_New.csv", index=False)

# View the DataFrame
popular_tweeters.head()

     Screen Name      Real Name Tweets  Followers Following Favorites Count
0      katyperry     KATY PERRY   8736  106322958       205            5817
1   justinbieber  Justin Bieber  30648  103320489    315521            3449
2    BarackObama   Barack Obama  15479   96812526    626645              10
3  Taylorswift13   Taylor Swift     68   85622584         0             102
4        rihanna        Rihanna  10034   82250740      1130            1023

In [8]:
# Calculate Averages
average_tweet_count = popular_tweeters["Tweets"].mean()
average_followers = popular_tweeters["Followers"].mean()
average_following_count = popular_tweeters["Following"].mean()
average_favorites_count = popular_tweeters["Favorites Count"].mean()

# Create DataFrame
averages = {"Average Tweet Count": average_tweet_count, 
            "Average Follower Count": average_followers, 
            "Average Following Count": average_following_count,
            "Average Favorites Count": average_favorites_count}

# Create a Dataframe of hte averages
pd.DataFrame(averages, index=[0])

,Average Favorites Count,Average Follower Count,Average Following Count,Average Tweet Count
0,1773.102041,4.801788e+07,32703.755102,30719.142857