In [2]:
# Import Dependencies
import pandas as pd
import os

In [6]:
# Establish file paths 
bitcoin_path = os.path.join('..','Resources','bitcoin_cash_price.csv')
dash_path = os.path.join('..','Resources','dash_price.csv')

In [8]:
# Read each csv file into a dataframe
bitcoin_df = pd.read_csv(bitcoin_path)
dash_df = pd.read_csv(dash_path)
display(bitcoin_df.head(3))
display(dash_df.head(3))

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000

In [10]:
# Merge the two DataFrames together based on the Dates they share
crypto_df = pd.merge(bitcoin_df, dash_df, on='Date')
crypto_df.head(3)

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"

In [11]:
# Rename columns so that they are differentiated
crypto_df = crypto_df.rename(columns={"Open_x":"Bitcoin Open","High_x":"Bitcoin High","Low_x":"Bitcoin Low",
                                      "Close_x":"Bitcoin Close","Volume_x":"Bitcoin Volume","Market Cap_x":"Bitcoin Market Cap"})

crypto_df = crypto_df.rename(columns={"Open_y":"Dash Open","High_y":"Dash High","Low_y":"Dash Low",
                                      "Close_y":"Dash Close","Volume_y":"Dash Volume","Market Cap_y":"Dash Market Cap"})

crypto_df.head()

,Date,Bitcoin Open,Bitcoin High,Bitcoin Low,Bitcoin Close,Bitcoin Volume,Bitcoin Market Cap,Dash Open,Dash High,Dash Low,Dash Close,Dash Volume,Dash Market Cap
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [19]:
# Calculate the best opening price for Bitcoin and Dash
bitcoin_open_max = crypto_df['Bitcoin Open'].max()
dash_open_max = crypto_df['Dash Open'].max()
print(bitcoin_open_max)
print(dash_open_max)

772.42
400.42

In [20]:
# Calculate the best closing price for Bitcoin and Dash
bitcoin_close_max = crypto_df['Bitcoin Close'].max()
dash_close_max = crypto_df['Dash Close'].max()
print(bitcoin_close_max)
print(dash_close_max)

754.56
399.85

In [21]:
# Calculate the total volume for Bitcoin and Dash
bitcoin_volume_sum = crypto_df['Bitcoin Volume'].max()
dash_volume_sum = crypto_df['Dash Volume'].max()
print(bitcoin_volume_sum)
print(dash_volume_sum)

3196230000.0
267415000.0

In [23]:
# Creating a summary DataFrame using above values
crypto_summary_df = pd.DataFrame({'Currency':['Bitcoin','Dash'], 'Max Open':[bitcoin_open_max, dash_open_max], 'Max Close':[bitcoin_close_max, dash_close_max], 'Total Volume':[bitcoin_volume_sum, dash_volume_sum]})
crypto_summary_df

  Currency  Max Close  Max Open  Total Volume
0  Bitcoin     754.56    772.42  3.196230e+09
1     Dash     399.85    400.42  2.674150e+08