In [2]:
# Dependencies
import pandas as pd
import os

In [5]:
# load CSV
csv_path = os.path.join('..','Resources','2016-FCC-New-Coders-Survey-Data.csv')
coders_survey_df = pd.read_csv(csv_path)
coders_survey_df.head(3)

C:\Users\markg\Anaconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN

In [1]:
# Read with pandas--low_memory required to suppress errors about mixed data types

In [7]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
coders_cols = coders_survey_df.columns.tolist()
filter_col_index = [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]
filter_cols =[]
for i in range(len(coders_cols)):
    if i in filter_col_index:
        col = coders_cols[i]
        filter_cols.append(col)
    else:
        pass
filter_coders_survey_df = coders_survey_df[filter_cols]
filter_coders_survey_df.head(3)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN

In [3]:
# Change reading 0 and 1 to No and Yes, respectively

In [4]:
# Extract rows for only those who attended a bootcamp

In [5]:
# Create DataFrame of the different boot camps that had a significant number of attendees

In [6]:
# Count how many attendees of each bootcamp would recommend the bootcamp

In [7]:
# Merge the two created data frames on the name of tbe bootcamp

In [8]:
# Calculate percentage of eac bootcamp's students who are recommenders

In [9]:
# Export to excel and remove index

In [8]:
 ['a', 'b', 'c'] + [1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [9]:
type(lambda x: x+1)

function