In [1]:
!rm demographics.sqlite cleaned_csv.csv

rm: cannot remove 'demographics.sqlite': No such file or directory
rm: cannot remove 'cleaned_csv.csv': No such file or directory

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# CSV file
csvfile = "demographics.csv"

In [5]:
# Read CSV file into a pandas DataFrame
demographics_df = pd.read_csv(csvfile)
demographics_df.head(3)

,id,name,age,height_meter,weight_kg,children,occupation,academic_degree,salary,location
0,0,Darlena Avila,58,1.87,53,1,Choreographer,PhD,68,South Dakota
1,1,Yan Boyd,65,1.80,40,0,Cellarman,Bachelor,73,Delaware
2,2,Joette Lane,32,1.80,73,1,Veterinary Surgeon,Master,69,South Dakota

In [ ]:
# Use `dropna` to drop any rows where there is missing data
# YOUR CODE HERE

In [ ]:
# Drop the `name` column and reset the index
# YOUR CODE HERE

In [ ]:
# Save the cleaned data to a file called `cleaned_demographics.csv`
# YOUR CODE HERE

In [6]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [28]:
# Create an engine to a database file called `demographics.sqlite`
engine = create_engine('sqlite:///demographics.sqlite')

In [29]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [30]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column

Base = declarative_base()

class Demographics(Base):
    __tablename__ = 'demographics'

    id = Column(Integer, primary_key=True)
    age = Column(Integer)
    name = Column(Text)
    height_meter = Column(Float)
    weight_kg = Column(Float)
    children = Column(Integer)
    occupation = Column(Text)
    academic_degree = Column(Text)
    salary = Column(Integer)
    location = Column(Text)

    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [50]:
# Use `create_all` to create the demographics table in the database
metadata = MetaData(bind=engine)

In [51]:
# Load the cleaned csv file into a pandas dataframe
demographics_df.head(3)

,id,name,age,height_meter,weight_kg,children,occupation,academic_degree,salary,location
0,0,Darlena Avila,58,1.87,53,1,Choreographer,PhD,68,South Dakota
1,1,Yan Boyd,65,1.80,40,0,Cellarman,Bachelor,73,Delaware
2,2,Joette Lane,32,1.80,73,1,Veterinary Surgeon,Master,69,South Dakota

In [52]:
# Use Orient='records' to create a list of data to write
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
data = demographics_df.to_dict(orient = 'records')

In [53]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata.reflect()

In [54]:
# Save the reference to the `demographics` table as a variable called `table`
## table = sqlalchemy.Table('demographics', metadata, autoload=True)
metadata.tables.keys()

dict_keys([])

In [ ]:
# Use `table.delete()` to remove any existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
# YOUR CODE HERE

In [ ]:
# Use `table.insert()` to insert the data into the table
# YOUR CODE HERE

In [ ]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from demographics limit 5").fetchall()