In [5]:
# import necessary libraries
import pandas as pd

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

from flask import (
    Flask,
    render_template,
    jsonify)

In [2]:
#################################################
# Database Setup
#################################################
engine = create_engine("sqlite:///db/bigfoot.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to the table
Bigfoot = Base.classes.bigfoot

# Create our session (link) from Python to the DB
session = Session(engine)

In [6]:
inspector = inspect(engine)
inspector.get_table_names()

['bigfoot']

In [7]:
# Get a list of column names and types
columns = inspector.get_columns('bigfoot')
for c in columns:
    print(c['name'], c["type"])
# columns

id INTEGER
number INTEGER
title TEXT
classification TEXT
timestamp TEXT
latitude FLOAT
longitude FLOAT

In [8]:
engine.execute('SELECT * FROM bigfoot LIMIT 5').fetchall()

[(1, 637, "Report 637: Campers' encounter just after dark in the Wrangell - St. Elias National Park and Preserve", 'Class A', '2000-06-16T12:00:00Z', 61.5, -142.9),
 (2, 2917, 'Report 2917: Family observes large biped from car', 'Class A', '1995-05-15T12:00:00Z', 55.1872, -132.7982),
 (3, 7963, 'Report 7963: Sasquatch walks past window of house at night', 'Class A', '2004-02-09T12:00:00Z', 55.2035, -132.8202),
 (4, 9317, 'Report 9317: Driver on Alcan Highway has noon, road encounter near Alaska-Canada border', 'Class A', '2004-06-18T12:00:00Z', 62.9375, -141.5667),
 (5, 13038, 'Report 13038: Snowmobiler has encounter in deep snow near Potter, AK', 'Class A', '2004-02-15T12:00:00Z', 61.0595, -149.7853)]

In [17]:
# Create a query for the `Month` and `Sightings Count`
# Hint: You will need to use `func.strftime` and `func.count`. Group the results by the month.
### BEGIN SOLUTION
results = session.query(func.strftime("%Y", Bigfoot.timestamp),\
                        func.count(Bigfoot.timestamp)).\
                        group_by(func.strftime("%Y", Bigfoot.timestamp)).all()
results

[('1869', 1),
 ('1921', 1),
 ('1925', 1),
 ('1930', 1),
 ('1932', 1),
 ('1934', 1),
 ('1937', 1),
 ('1938', 1),
 ('1941', 1),
 ('1942', 1),
 ('1944', 2),
 ('1947', 1),
 ('1948', 1),
 ('1949', 2),
 ('1950', 3),
 ('1952', 1),
 ('1953', 2),
 ('1954', 1),
 ('1955', 3),
 ('1956', 4),
 ('1957', 4),
 ('1958', 6),
 ('1959', 1),
 ('1960', 6),
 ('1961', 9),
 ('1962', 6),
 ('1963', 10),
 ('1964', 9),
 ('1965', 10),
 ('1966', 7),
 ('1967', 13),
 ('1968', 13),
 ('1969', 18),
 ('1970', 27),
 ('1971', 21),
 ('1972', 30),
 ('1973', 28),
 ('1974', 38),
 ('1975', 46),
 ('1976', 39),
 ('1977', 64),
 ('1978', 82),
 ('1979', 47),
 ('1980', 72),
 ('1981', 43),
 ('1982', 46),
 ('1983', 45),
 ('1984', 36),
 ('1985', 34),
 ('1986', 48),
 ('1987', 37),
 ('1988', 33),
 ('1989', 30),
 ('1990', 40),
 ('1991', 42),
 ('1992', 31),
 ('1993', 43),
 ('1994', 56),
 ('1995', 48),
 ('1996', 54),
 ('1997', 78),
 ('1998', 80),
 ('1999', 66),
 ('2000', 145),
 ('2001', 135),
 ('2002', 108),
 ('2003', 154),
 ('2004', 250),
 ('2005', 226),
 ('2006', 189),
 ('2007', 170),
 ('2008', 145),
 ('2009', 123),
 ('2010', 95),
 ('2011', 118),
 ('2012', 132),
 ('2013', 104),
 ('2014', 87),
 ('2015', 59),
 ('2016', 34),
 ('2017', 9),
 ('2053', 1)]