In [1]:
import pandas as pd

In [2]:
series_1 = pd.Series([1,1,1,1,1], index=["Bob", "Bill", "Barbara", "Blake", "Brandon"])
series_1

Bob        1
Bill       1
Barbara    1
Blake      1
Brandon    1
dtype: int64

In [4]:
series_2 = pd.Series([1,1,1,1,1], index=["Bob", "Charlie", "Blake", "Claire", "Bill"])
series_2

Bob        1
Charlie    1
Blake      1
Claire     1
Bill       1
dtype: int64

In [5]:
# Note the NaN values in the resultant Series

total_1 = series_1 + series_2
total_1

Barbara    NaN
Bill       2.0
Blake      2.0
Bob        2.0
Brandon    NaN
Charlie    NaN
Claire     NaN
dtype: float64

In [7]:
# This time, add using .add() and passing in fill_value=0

total_2 = series_1.add(series_2, fill_value=0)
total_2

Barbara    1.0
Bill       2.0
Blake      2.0
Bob        2.0
Brandon    1.0
Charlie    1.0
Claire     1.0
dtype: float64