In [1]:
import pandas as pd

In [2]:
frames = {
    "Frame": ['Brown', 'Red', 'Blue', 'Black', 'White'],
    "Price": [25.00,15.00,20.00,17.50,10],
    "Sales": [12,91,26,41,57]
}

In [3]:
frames_df = pd.DataFrame(frames)

In [4]:
frames_df

   Frame  Price  Sales
0  Brown   25.0     12
1    Red   15.0     91
2   Blue   20.0     26
3  Black   17.5     41
4  White   10.0     57

In [5]:
!ls

dataframe_shop.ipynb
README.md