In [2]:
# import dependencies
import pandas as pd

In [3]:
# Create a data frame with given columns and value
hey_arnold = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black","blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
    })

hey_arnold

  Character_in_show  Football_Shaped_Head   Height color_of_hair
0            Arnold                  True  average        blonde
1            Gerald                 False  tallish         black
2             Helga                 False  tallish        blonde
3            Phoebe                 False    short         black
4            Harold                 False     tall       unknown
5            Eugene                 False    short           red

In [6]:
# Rename columns to clean up the look
hey_arnold.columns = ['Character', 'Football_Head', 'Height', "Hair_Color"]
hey_arnold

  Character  Football_Head   Height Hair_Color
0    Arnold           True  average     blonde
1    Gerald          False  tallish      black
2     Helga          False  tallish     blonde
3    Phoebe          False    short      black
4    Harold          False     tall    unknown
5    Eugene          False    short        red

In [7]:
# Organize columns into a more logical order
hey_arnold = hey_arnold[['Character', 'Height', "Hair_Color", 'Football_Head']]
hey_arnold

  Character   Height Hair_Color  Football_Head
0    Arnold  average     blonde           True
1    Gerald  tallish      black          False
2     Helga  tallish     blonde          False
3    Phoebe    short      black          False
4    Harold     tall    unknown          False
5    Eugene    short        red          False

In [9]:
# Export new data
hey_arnold.to_csv('hey_arnold_new.csv', header=True, index=False)