In [1]:
import numpy as np
import pandas as pd

In [2]:
data_series = pd.Series(['UCLA', 'UCB', 'UT'])

In [5]:
states = [
    {"STATE": "New Jersey", "ABBREVIATION": "NJ"},
    {"STATE": "Texas", "ABBREVIATION": "TX"},
    {"STATE": "Ohio", "ABBREVIATION": "OH"},
    {"STATE": "North Carolina", "ABBREVIATION": "NC"},
    {"STATE": "South Carolina", "ABBREVIATION": "SX"}
]

In [11]:
df_states = pd.DataFrame(states)
df_states

  ABBREVIATION           STATE
0           NJ      New Jersey
1           TX           Texas
2           OH            Ohio
3           NC  North Carolina
4           SX  South Carolina

In [19]:
states2= {
    "STATE": ['Texas', 'New Jersey', 'Ohio', 'North Carolina', 'South Carolina'],
    "ABBREVIATION": ['TX', 'NJ', 'OH', 'NC', 'SC']
}

In [20]:
df_states2 = pd.DataFrame(states2)
df_states2

  ABBREVIATION           STATE
0           TX           Texas
1           NJ      New Jersey
2           OH            Ohio
3           NC  North Carolina
4           SC  South Carolina