In [3]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
gkey = 'AIzaSyCenEgtdupptx5dsNMV8uUpzL0QrCrTAaA'

In [26]:
# Import cities file into the cities_pd DataFrame
cities_df = pd.read_csv('Cities.csv')
cities_df = cities_df.head(5)

In [27]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_df['lat'] = ''
cities_df['lng'] = ''
cities_df['airport_name'] = ''
cities_df['airport_rating'] =''
cities_df['airport_address'] = ''
cities_df

,City,State,lat,lng,airport_name,airport_rating,airport_address
0,New York,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [28]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.set_value()`
geo_cord_url = "https://maps.googleapis.com/maps/api/geocode/json"
for index, row in cities_df.iterrows():
    city = row['City']
    state = row['State']
    city_search_term = f'{city}, {state}'
    params = {'key': gkey, 'address': city_search_term}
    response = requests.get(geo_cord_url, params=params)
    data = response.json()
    lat = data["results"][0]["geometry"]["location"]["lat"]
    lng = data["results"][0]["geometry"]["location"]["lng"]
    cities_df.loc[index, 'lat'] = lat
    cities_df.loc[index, 'lng'] = lng

cities_df

,City,State,lat,lng,airport_name,airport_rating,airport_address
0,New York,New York,40.7128,-74.006,,,
1,Los Angeles,California,34.0522,-118.244,,,
2,Chicago,Illinois,41.8781,-87.6298,,,
3,Houston,Texas,29.7604,-95.3698,,,
4,Philadelphia,Pennsylvania,39.9526,-75.1652,,,

In [37]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings
places_url  = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
for index, row in cities_df.iterrows():
    lat = row['lat']
    lng = row['lng']
    cords = f'{lat},{lng}'
    type_term = 'airport'
    params = {'location': cords, 'key': gkey, 'types': type_term, 'radius': 8000}
    response = requests.get(places_url, params=params)
    data = response.json()
    try:
        name = data['results'][0]['name']
    except (KeyError, IndexError):
        name = ''
    try:
        rating = data['results'][0]['rating']
    except (KeyError, IndexError):
        rating = ''
    ## address incorrect
    try:
        address = data['results'][0]['vicinity']
    except (KeyError, IndexError):
        address = ''
    cities_df.loc[index, 'airport_name'] = name
    cities_df.loc[index, 'airport_rating'] = rating
    cities_df.loc[index,'airport_address'] = address

cities_df

,City,State,lat,lng,airport_name,airport_rating,airport_address
0,New York,New York,40.7128,-74.006,Liberty State Park Heliport,4.2,"200 Morris Pesin Drive, Jersey City"
1,Los Angeles,California,34.0522,-118.244,Los Angeles County Mens Detention Center - Mai...,5,Los Angeles
2,Chicago,Illinois,41.8781,-87.6298,Children's Memorial Hospital,4.2,"2345 North Lincoln Avenue, Chicago"
3,Houston,Texas,29.7604,-95.3698,The Huntingdon,,"2121 Kirby Drive, Houston"
4,Philadelphia,Pennsylvania,39.9526,-75.1652,Hargrove,,Camden

In [9]:
# Save Data to csv


# Visualize to confirm airport data appears
cities_df

Empty DataFrame
Columns: []
Index: []